# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Django
db.sqlite3
media/
staticfiles/
*.log

# Env
.env
venv/
ENV/
.venv/

# IDE/OS
.vscode/
.idea/
.DS_Store

# Coverage / reports
htmlcov/
.coverage*
.dist/
build/

# Local data & scripts to ignore
data.json
fix_utc.py
db_timezone.py